#btn-center{ margin-left: 500px;}
#infoTitle{text-align: center;}
#conInfoTitle{text-align: center;}
.memberInfoWrapper{width: 1200px; height: 300px; margin:30px;}
.memberInfoWrap{width: 1000px; margin:30px;}
#btnAlign{text-align: center;}