/* #btn-center{ margin-left: 500px;} */
#infoTitle{text-align: left; color: #3f51b5;}
#conInfoTitle{text-align: center;}
.memberInfoWrapper{ padding:30px; }
/* width: 1050px; height: 450px; */
/* .memberInfoWrap{width: 1040px; } */
#btnAlign{width : 100%; text-align: center; margin: 5px;}

#memberDetailTable {border: 1px solid #e9ecef; width: 100%; margin-bottom: 10px;}
#memberDetailTable th {border:1px solid #e9ecef; background-color: #f1f3f5;text-align: center; padding: 5px;}
#memberDetailTable td {border:1px solid #e9ecef; text-align: left; padding: 5px;} 

#conInfoDetialTable {margin:10px; border: 1px solid; width: 100%;}
#conInfoDetialTable th{border:1px solid;}
#conInfoDetialTable td {border:1px solid; text-align: center;} 
.memberInfoWrapper #pageCenter{margin-left: 490px;}
#__daum__layer_7{height: 600px;}