
.memInfoWrapper{padding: 30px;}
.memInfoWrap

.btn-center{text-align: center;}
.btn-center #btnWidth{width: 150px;}

/* .react-datepicker-wrapper input{width: 100px;}
#fstTextSpacing.alignLeft {line-height:200%;border-top:none; border-bottom: none; border-right: none;}
#sndTextSpacing.alignLeft {line-height:200%; border-top:none; border-bottom: none;  border-left: none;} */
.borderLine{border-top: none;}
.useContractTable tr #borderTopBottom {text-align: left;}

#memberTable {border: 1px solid #e9ecef; width: 100%; margin-bottom: 10px;}
#memberTable th {border:1px solid #e9ecef; background-color: #f1f3f5;text-align: center; padding: 5px;}
#memberTable td {border:1px solid #e9ecef; text-align: left; padding: 5px;} 
/* #memberTable tr #borderTopBottom{text-align: left;} */
#memberTable #dateSize{width: 100px;}
#memberTable #borderTopBottom{text-align: right;}
.star{color: red;}
.fileStar {color:royalblue;font-size: 10px;}

